@import "./function.scss";
.type-tap-container {
  display: flex;
  border: none;
  width: fit-content;
  margin: 20px 0;
  color: #fff;
}

.type-tap-container .border {
  height: size(54);
  width: 2px;
  background-color: #fff;
  margin: 0 size(20);
}
.type-tap-container h4 {
  font-size: size(24);
  padding: size(16) size(24);
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0px #fff;
  transition: all .3s;
}
.type-tap-container h4:hover {
  box-shadow: inset 0 0 0 3px #fff;
}
.focus {
  background: #fe1643;
  color: #fff;
  box-shadow: none !important;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}
.card-item {
  width: 24%;
  margin: 5px;
  padding: 2px;
  box-shadow: 1px 1px 6px rgb(0, 0, 0);
  // border: 1px solid rgb(227, 227, 227);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #252229;
}
.card-item:hover {
  cursor: pointer;
}
.card-desc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: size(20) size(10);
  margin: 4px;
  color: #fff;
}
.left-content {
  width: 100%;
  overflow-wrap: break-word;
}
.grey-text {
  color: grey;
}
.card-desc h5 {
  font-size: size(18);
  color: #fff;
}
.card-item img {
  width: 100%;
  height: size(290);
  object-fit: cover;
}
.ReactModal__Overlay--after-open {
  background: rgba(0, 0, 0, 0.468) !important;
}
.button-wrapper {
  display: flex;
  justify-content: center;
}
.button-wrapper .btn {
  padding: 6px 8px;
  border-radius: 2px;
  margin: 6px;
}
.button-wrapper .btn:hover {
  cursor: pointer;
}
.cancel-btn {
  color: rgb(58, 176, 164);
  border: 1px solid rgb(58, 176, 164);
  background: white;
}
.comfirm-btn {
  background: rgb(58, 176, 164);
  color: white;
  border: none;
}
.time-btn {
  border: 1px solid rgb(208, 210, 210);
  background: white;
}
.modal-container {
  padding: 20px;
  width: 24%;
  margin: 5px auto;
  box-shadow: 1px 1px 6px rgb(227, 227, 227);
  border: 1px solid rgb(227, 227, 227);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
}
.modal-desc {
  border-top: 1px solid grey;
  padding: 20px;
  margin-top: 20px;
}
.modal-desc h5 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.input-wrapper {
  display: flex;
  margin: 5px;
}
.icon-font {
  font-size: 30px;
  padding: 5px;
  transition: all 0.3s;
}
.icon-font:hover {
  filter: brightness(1.5);
}

.empty-hint {
  width: 100%;
  font-size: size(32);
  color: #ccc;
  text-align: center;
  margin-top: size(60);
}

.confirm-loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.468);
  color: #fff;
  font-size: size(24);
  font-weight: bold;
  img {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}